<div
  class="footer"
  style="position: fixed; left: 0;text-align: center; padding-left: 5px; bottom: 0; width: 100%; background-color: cyan; color: black;"
>
  <div class="footer">
    <p>&#169; All Rights Reserved By Coding Ninja</p>
    <footer class="blockquote-footer">
      <cite title="Source Title">Sanjeev Kumar</cite>
    </footer>
  </div>
</div>
